.list-n-key {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.listkey-section {
  margin-right: 30px;
}

.list-n-key :last-child {
  margin: 0;
}

.list-n-key ul button {
  width: 100%;
  margin-bottom: 5px;
}
