.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar li {
  margin-right: 10px;
}

.nav-bar li:last-child {
  margin: 0;
}

.nav-bar a {
  padding: 10px 12px;
  background-color: #f1f3f5;
  border-radius: 4px;
}

.nav-bar a:hover {
  background-color: #e9ecef;
}
