.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-bar li {
  margin-right: 10px;
}

.nav-bar li:last-child {
  margin: 0;
}

.nav-bar a {
  font-weight: bold;
  padding: 10px 25px;
  background-color: #d0ebff;
  color: #1c7ed6;
  border-radius: 40px;
}

.nav-bar a:hover {
  background-color: #a5d8ff;
}
