/* main nav CSS */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-bar li {
  margin-right: 10px;
}

.nav-bar li:last-child {
  margin: 0;
}

.nav-bar a {
  font-weight: bold;
  padding: 10px 25px;
  background-color: #d0ebff;
  color: #1c7ed6;
  border-radius: 40px;
}

.nav-bar .hard a {
  background-color: #ffc9c9;
  color: #f03e3e;
}

.nav-bar a:hover {
  background-color: #a5d8ff;
}

.nav-bar .hard a:hover {
  background-color: #ffa8a8;
}

/* sub nav CSS */
.sub-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.sub-nav li {
  margin-right: 8px;
}

.sub-nav li:last-child {
  margin: 0;
}

.sub-nav a {
  font-size: 13px;
  font-weight: bold;
  padding: 8px 20px;
  background-color: #e7f5ff;
  color: #339af0;
  border-radius: 40px;
}

.sub-nav a:hover {
  background-color: #d0ebff;
}
