.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description span {
  margin-bottom: 9px;
}

.description span:last-child {
  margin: 0;
}

.wrap input {
  margin-bottom: 10px;
}

.wrap button {
  margin-bottom: 29px;
}

.wrap span {
  margin-bottom: 10px;
}

.description {
  color: rgb(78, 89, 104);
  font-size: 12px;
  background-color: #fff;
  padding: 16px 18px;
  margin-bottom: 19px;
}

.description:last-child {
  margin-bottom: 0;
}

.btn-wrap {
  margin: 18px 0;
}

.btn-wrap button {
  margin-right: 5px;
}

.btn-wrap button:last-child {
  margin: 0;
}
