* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: rgb(51, 61, 75);
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 70px 10px;
}

@font-face {
  font-family: "SUIT-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SUIT-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 기본 요소 CSS */

h1,
h2 {
  font-family: "SUIT-ExtraBold";
}

h1,
h2,
h3 {
  margin: 0 0 26px 0;
  padding: 0;
}

div,
span,
p {
  font-family: "SUIT-Medium";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(32, 33, 36);
}

ul,
li,
a,
span,
div,
p {
  padding: 0;
  margin: 0;
  display: block;
}

button {
  padding: 9px 17px;
  border: none;
  border-radius: 4px;
  background-color: #228be6;
  color: #fff;
}

button:hover {
  background-color: #1c7ed6;
}

input {
  width: 200px;
  padding: 9px 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

/* 공통 요소 CSS */

.example-section {
  max-width: 650px;
  padding: 70px 20px;
  border-radius: 10px;
  background-color: #f9fafb;
  margin: 0 auto 47px;
}

.example-section:last-child {
  border-bottom: none;
}

.section-wrap {
  margin-bottom: 60px;
}

.section-wrap:last-child {
  margin: 0;
}

.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-title {
  font-size: 13px;
  background-color: #e7f5ff;
  width: fit-content;
  margin: 6px auto;
  padding: 6px 12px;
  border-radius: 40px;
  color: #495057;
}

.alert-msg {
  color: #1c7ed6;
  font-size: 12px;
  padding: 0 0 6px 0;
}

.think {
  color: #f76707;
}

/* Dark Theme CSS  */
h1.dark-theme {
  color: #fff;
}

.App.dark-theme {
  background-color: #000;
}
